server:
  port: 8080

spring:
  application:
    name: web-base

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  server:
    port: 8080
  metrics:
    tags:
      application: web-base
